<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Flask</title>
        <!-- Aplicamos estilo (el color) a todos los parrafos de este archivo-->
        <style>
            p{
                color: aquamarine;
            }
        </style>
        <link rel="stylesheet" href="static/css/estilo.css">
    </head>
    <body>
        <h1 style="color: aqua;">
            Jimmy Bonilla
        </h1>
        <p> Mi nombre es Jimmy, soy Desarrollador de software</p>
        <a href="https://www.google.com">Ir a google</a>
        <p>Me gusta tomar cafe</p>
        <button>Guardar</button>
        <h2>Tabla productos</h2> <!-- Los titulos van desde h1 hasta h6-->
        <table border="2">
            <tr>
                <th>
                    Producto
                </th>
                <th>
                    Precio
                </th>
            </tr>
            <tr>
                <th>
                    Camisa
                </th>
                <th>
                    $10
                </th>
            </tr>
            <tr>
                <th>
                    Pantalon
                </th>
                <th>
                    $20
                </th>
            </tr>
        </table>
    </body>
</html>